{{ if or (not .edit_mode) .is_admin }}
<div id="apps-title" class="flex items-center gap-4 mb-4">
    <h2 class="text-xl uppercase font-semibold text-secondary">Applications</h2>
    {{ if and .edit_mode .is_admin }}
    <button class="flex items-center gap-2 text-secondary hover:text-secondary/80 transition-colors duration-200 cursor-pointer"
            hx-get="/applications/modal/create" hx-target="body" hx-swap="beforeend">
        <span class="material-icons text-xl">add</span>
    </button>
    {{ end }}
</div>
{{ end }}