package partials

import (
	"git.at.oechsler.it/samuel/dash/v2/delivery/web/templ/components"
	"fmt"
	"github.com/invopop/ctxi18n/i18n"
)

type BookmarksDeleteModalInput struct {
	ID          uint
	DisplayName string
}

templ BookmarksDeleteModal(input BookmarksDeleteModalInput) {
	@components.ModalDelete(components.ModalDeleteInput{
		DisplayName:  input.DisplayName,
		ResourceName: i18n.T(ctx, "sections.bookmarks"),
		DeleteAction: "/bookmarks/" + fmt.Sprint(input.ID),
	})
}
